#public net.minecraft.world.Explosion field_77280_f #size
public net.minecraft.entity.projectile.ProjectileEntity <init>(Lnet/minecraft/entity/EntityType;Lnet/minecraft/world/World;)V
public net.minecraft.client.renderer.WorldRenderer field_174991_A # entityEffect
public net.minecraft.client.renderer.WorldRenderer field_239227_K_ # transparencyChain